/* :root {
  font-family: Imported;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  margin: 0;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

@font-face {
  font-family: Gotham;
  src: url('./assets/font/Gotham-Font/GothamMedium.ttf');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .bg-footer {
    @apply bg-img-footer bg-no-repeat bg-cover bg-red-light-footer flex flex-col items-center justify-center gap-4 h-[590px] min-h-[560px] text-3xl text-center text-white;
  }
  .layout-component {
    @apply flex flex-col items-center gap-8 px-4 md:px-6 lg:px-16 xl:px-24 max-w-[1280px] py-16;
  }
  .tech-layout {
    @apply grid sm:w-[535px] gap-8 sm:gap-2 py-6;
  }
  .tech-item {
    @apply flex gap-y-4 flex-col items-center;
  }
}
